.about-section{
      position: relative;
      top: 200px;
      justify-items: center;
      height: 100vh;
}
.about-section p{
    width: 80%;
    display: flex;
    justify-self: center;
}
@media(min-width:800px){
    .about-section p{
    width: 60%;
    display: flex;
    justify-self: center;
}
}