.logo img{
  height: 70px;
  width: 70px;
  margin-left: 3%;
  border-radius: 50%;
}
.nav-links.open{
  display: none;
}
.menu-toggle{
  position: absolute;
  right: 5%;
  top: 15px;
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer; 
}
.nav-links li{
  list-style: none;
  margin-top: 15px;
  margin-left: 3%;
}
.nav-links li a{
 text-decoration: none;
 color: black;
 font-size: larger;
}
@media(min-width:766px){
   .nav-links{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    width: 70%;
    margin-left: auto;
    position: absolute;
    right: 5%;
    top: 5px;
   }
   .nav-links.open{
    display: flex;
   }
   .nav-links li{
    margin: 1%;
   }
   .menu-toggle{
    display: none;
   }
}