body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.myphoto img{
  border: 5px solid black;
  border-radius: 10%;
  height: 400px;
  width: 300px;
  animation-name: moveToup, fadeIn,moveToleft;
  animation-duration: 2s, 2s,1s;
  animation-delay: 1s, 1s,3s;
  animation-fill-mode: forwards;
  position: absolute;
  top: 100%;
  left: 30%;
}
/* Step 1: Fade in at center */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0%, 0%) scale(2.5);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%) scale(1.5);
  }
}

/* Step 2: Move to top-left */
@keyframes moveToup {
  0% {
   top: 90%;
   left: 30%;
   transform: translate(10%, 10%);
  }
  100% {
    top: 10%;
    left: 30%;
    transform: translate(90%, 10%);
  }
}
@keyframes moveToleft {
  0% {
    top: 10%;
    left: 30%;
    transform: translate(0%, 0%)scale(1.5);
  }
  100% {
    top: 5%;
    left: 45%;
    transform: translate(0%, 0%) scale(1);
  }
}