.experiance-section{
    position: relative;
    top: 1000px;
    height: auto;
}
.experiance-section h1{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-size: 3rem; 
    font-size: 4rem; /* Adjust as needed */
    font-weight: 800;
    background: linear-gradient(135deg, #6EE7B7, #3B82F6, #9333EA); /* matches text */
    color: transparent;
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.experiance-section div{
  background-color: transparent;
  display: block;
  border: 1px solid rgb(170, 160, 160);
  width: 48%;
  height: auto;
}
.experiance-section div img {
    width: 100%;
    height: 70%;
    border-radius:5px 5px 0px 0px;
}
@keyframes growLine {
  0% { height: 0; }
  100% { height: 100vh; }
}
.first-experiance{
    border-radius: 10px;
    width: 40;
    height: auto;
    background-color: #3B82F6;
}
.second-experiance{
    display: flex;
    justify-self: end;
    border-radius: 10px;
    height: auto;
}
@media(min-width:550px){
  .experiance-section div{
  width: 48%;
  height: 300px;
}
}
@media(min-width:750px){
  .experiance-section div{
  width: 48%;
  height: 400px;
}
}
@media(min-width:1000px){
  .experiance-section div{
  width: 48%;
  height: auto;
  padding: 5px;
}
}
@media(min-width:1300px){
  .experiance-section div{
  width: 48%;
  height: 650px;
}
}